<template>
    <div class="container slds-p-vertical_medium slds-box slds-theme_default">
        <section role="log" class="slds-chat">  
            <ul class="slds-chat-list"> 
                <div class="slds-chat-bookend" style="font-weight: bold;">
                    <p>Chat Started</p>
                </div>
                <template for:each={chatList} for:item="chatData">
                    <li class={chatData.listItemType} key={chatData.id}>
                        <div class="slds-chat-message">
                            <div class="slds-chat-message__body">
                                <div class={chatData.messageType}>
                                    <span>{chatData.messageToSend}</span>
                                </div>
                                <div class="slds-chat-message__meta">{chatData.name}</div>
                            </div>
                        </div>
                    </li>
                </template>
                <div class="slds-chat-bookend slds-chat-bookend_stop" style="font-weight: bold;">
                    <p>Chat Ended</p>
                </div>
            </ul>
        </section>
    </div>    
</template>